<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <nav>
        <% include partials/navigation %>
    </nav>

    <header>
        <% include partials/header %>
    </header>



    <div class="row">
        <div class="col-sm-3">
            <table class="table table-bordered
                table-hover table-condensed">
                <tr>
                    <td>
                        <h2>Search for a specific order:</h2>
                    </td>
                </tr>
                <tr>
                    <td>By telephone number:</td>
                    <td><input type="text" id="searchTelephone" /></td>
                </tr>
                <tr>
                    <td>By address:</td>
                    <td><input type="text" id="searchAddress" /></td>
                </tr>
                <tr>
                    <td><button id="search">Search</button></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="message" id="searchResultTitle">

    </div>


    <div class="row">
        <div class="col-lg-10">
            <table class="table table-striped table-bordered
table-hover table-condensed" id="searchedOrders">
            </table>
        </div>
    </div>

    <div class="message">
        <h1>
            <%= message %>
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <table class="table table-striped table-bordered
table-hover table-condensed" id="orders">
            </table>
        </div>
    </div>

    <footer class="footer">
        <div id="statusMsg"></div>

        <% include partials/copyright %>
    </footer>

</body>

</html>