<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <nav>
            <% include partials/navigation %>
        </nav>
        <% include partials/header %>
    </header>

    <div id="search-div">

        <h2>Search for a specific order:</h2>

        <p id="search-boxes">By telephone: <input type="text" id="searchTelephone" /> &nbsp;&nbsp;By address: <input type="text" id="searchAddress"
            /></p>


        <p id="search-button"><button class="button" id="search">Search</button></p>




        <div class="searchresult-title" id="searchResultTitle">
            <h1></h1>
        </div>
        <div class="orderlist-table-div">
            <table class="table table-striped table-bordered
            table-hover table-condensed" id="searchedOrders"></table>
        </div>
    </div>

    <div id="orderlist-title">
        <h1>
            <%= message %>
        </h1>
    </div>

    <div class="orderlist-table-div">
        <table class="table table-striped table-bordered
table-hover table-condensed" id="orders"></table>

    </div>

    <footer class="footer">
        <div id="statusMsg"></div>

        <% include partials/copyright %>
    </footer>

</body>

</html>