body, html {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DFDFD5;
}

/* Navigation */

.nav {
  width: 100%;
  margin: 0 auto;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color:white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #976D13;
}

/* * * * */

div {
  width: 90%;
  margin: 0 auto;
}

header {
  background-image: url("../images/pizza.png");
  background-origin: center;
  background-size: cover;
  padding-bottom: 20px;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.pageTitle {
  margin-top: 20px;
  background-color: #333;
  text-align: center;
  width: 70%;
  border: 1px solid #0A0A08;
  margin-top: 35px;
  margin-bottom: 35px;
}

.company {
  font-size: 3.1em;
  color: #976D13;
  text-shadow: 0.05em 0.05em #181715;
  padding-top: 10px;
}

h1 {
  font-size: 2.0em;
  text-shadow: 0.01em 0.01em #181715;
  color: #976D13;
  text-shadow: 0.05em 0.1em #131212;
}

.dataEntry {
  background-color: rgba(41, 39, 39, 0.9);
  border: 2px solid black;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.dataEntry>p {
  padding-left: 25px;
  color: white;
  text-shadow: 0.05em 0.05em #110101;
  font-size: 1.1em;
  line-height: 0px;
}

#statusMsg {
  width: 100%;
  margin: 0 auto;
  color: rgba(255, 0, 0, 0.97);
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  text-align: center;
}

h2 {
  padding-left: 25px;
  margin-top: 10px;
  color: #97793B;
  text-shadow: 0.05em 0.1em #131212;
  font-size: 1.5em;
}

h3 {
  padding-left: 25px;
  color: white;
  text-shadow: 0.1em 0.1em #333;
  font-size: 1.1em;
}

input[type=text] {
  color: black;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

button {
  text-decoration: none;
  font-size: 30px;
}

.button {
  font-size: 25px;
  margin-top: 15px;
  margin-right: 25px;
  border: none;
  border-radius: 15px;
  background-color: #868279;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #97793B
}

.copyright {
  background-color: #333;
  font-size: 15px;
  padding: 5px;
  color: #E0DADA;
  text-align: right;
  width: 100%;
}

.footer {
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/pizza.png");
  margin-top: 10px;
  margin-bottom: 0px;
  border: 2px solid black;
}

#search-div{
  background-color: #333;
  color: #97793B;
  text-shadow: 0.05em 0.1em #131212;
  font-size: 1.1em;
  padding-top: 2px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.searchresult-title {
  background-color: #333;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

#search-div h2{
  text-align: center;
  font-size: 1.7em;
}

#search-button {
  text-align: right;
  color: black;
  margin-top: 0px;
}

#search-boxes{
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 0px;
}

/*Table*/

#orderlist-title {
  background-color: #333;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 15px;
}

.orderlist-table-div {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
}

.orderlist-table-div table {
  width: 90%;
  margin: 0 auto;
}
.orderlist-table-div tr {
  color: black;
  text-shadow: none;
}

table ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.orderlist-table-div tr:first-of-type {
  font-weight: bold;
  background-color: #333 !important;
  color: #97793B;
  text-shadow: 0.05em 0.1em #131212;
  font-size: 1.1em;
}

tr:nth-child(even) {
  background-color: #747070 !important;
}

tr:nth-child(odd) {
  background-color: #AFAEAE !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CFCF98;
}


